.allProjects-section {
    padding: 60px 30px 30px;
}

.allProjects-section .projects-search {
    width: 50%;
    margin: 20px auto;
}

.allProjects-section .projects-search input {
    width: 100%;
    padding: 13px 15px;
    border-radius: 25px;
    background: #272727c0;
    border: 1px solid #272727c0;
    color: var(--para-color);
    transition: .3s;
}

.app.light .allProjects-section .projects-search input {
    background: none;
    color: #0a0a0a;
}

.app.light .allProjects-section .projects-search input::placeholder {
    color: #0a0a0a;
}

.allProjects-section .projects-search input:hover,
.allProjects-section .projects-search input:focus {
    border: 1px solid #5294ff;
}

.allProjects-section .project-count {
    text-align: center;
    border-bottom: .1px solid #1f1f1f;
    padding-bottom: 20px;
    opacity: 0.6;
}

.allProjects-section .Projects-cont {
    padding-top: 30px;
}

.allProjects-section .no-projects {
    height: 80vh;
    text-align: center;
    padding-top: 20px;
    opacity: 0.6;
}

@media (max-width:1024px) {
    .allProjects-section .projects-search {
        width: 90%;
    }
}

@media (max-width:500px) {

    .allProjects-section {
        padding: 50px 15px 30px;
    }

    .allProjects-section .projects-search {
        width: 100%;
    }

    .allProjects-section p {
        font-size: 14px;
    }
}